uvicorn~=0.34.2
ffmpeg-python~=0.2.0
fastapi~=0.115.12
SQLAlchemy~=2.0.40
pydantic~=2.11.3
cryptography~=45.0.2
pydantic-settings~=2.9.1
PyJWT~=2.10.1
requests~=2.32.3
pycryptodome~=3.22.0
python-multipart~=0.0.20
baize~=0.22.2
alembic~=1.15.2
face-recognition~=1.3.0
weaviate-client~=4.14.1
