uvicorn~=0.50.2
ffmpeg-python~=0.2.0
fastapi~=0.139.0
SQLAlchemy~=2.0.51
pydantic~=2.13.4
cryptography~=48.0.0
pydantic-settings~=2.14.2
PyJWT~=2.12.1
requests~=2.34.2
pycryptodome~=3.23.0
python-multipart~=0.0.32
baize~=0.23.1
alembic~=1.18.5
pillow~=12.2.0
pytest-asyncio==1.4.0
aiosqlite==0.22.1
httpx==0.28.1
